<!DOCTYPE html>
<html>
<head>

<title>{{title}}</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap" rel="stylesheet">

</head>

<body>

    <div>{{>header}}</div>

    <h3 class="mainBodyTitleDiv">{{title}}</h3>

    <br/>
    <div class="mainBodyDiv">
        <p>Mike Santry is a Professional Web Developer and aspiring artist living in Toledo Ohio. </p>
    </div>

</body>

</html>