<!DOCTYPE html>
<html>
<head>

<title>{{title}}</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap" rel="stylesheet">

</head>

<body>

    <div>{{>header}}</div>

    <h3 class="mainBodyTitleDiv">{{title}}</h3>

    <br/>
    <div class="mainBodyDiv">
        <p>Mike Santry is an aspiring artist. When he is not performing or teaching sketch and improv comedy, he is writing music, drawing comics, and making animations. You can see some of his work via the following links: </p>
        <ul>
            <li><a style="color:blue;" href="https://www.instagram.com/bill.boles/">Instagram</a></li>
            <li><a style="color:blue;" href="https://www.youtube.com/channel/UCjUngTODT391i2hWmnI9-tw">Youtube</a></li>
        </ul>
    </div>

</body>

</html>