<!DOCTYPE html>
<head>

<title>mikesantry.com</title>
<link rel="stylesheet" href="/css/style.css">

</head>

<body>

    {{>header}}

    <p>This is Mike Santry's website. There is sure to be content here soon, so be sure to refresh your browser every 5 minutes</p>


</body>