<!DOCTYPE html>
<html>
<head>

<title>{{title}}</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap" rel="stylesheet">

</head>

<body>

    <div>{{>header}}</div>

    <h3 class="mainBodyTitleDiv">{{title}}</h3>

    <br/>
    <div class="mainBodyDiv">
        <p> Mike Santry is a web developer with full-stack experience. Here are some technologies he is experienced with: </p>
        <ul>
            <li>Languages: JS, CSS, HTML, SQL, Java, C#</li>
            <li>Node.js</li>
            <li>Vue.js</li>
            <li>Softwares: </li>
            <ul> 
                <li>ServiceNow</li> 
                <li>VS Code</li>
                <li>Visual Studio</li> 
                <li>MSSQL</li>
                <li>Postman</li>
                <li>Heroku</li>
                <li>Github</li>
                <li>DaVinci Resolve</li>
                <li>Adobe Animate</li>
                <li>Audacity</li>
                <li>DragonFrame</li>
                <li>Microsoft Office Suit</li>
            </ul>
        </ul>
    </div>

</body>

</html>