
<header>
    


 {{!-- <div id="top-menu">
    <nav id="nav-flex">
        <div class="navLinkDiv"><h2 id="mikeSantryHead">Mike Santry</h2></div>
        <div class="navLinkDiv"><a href="/about">about</a></div>
        <div class="navLinkDiv"><a href="/programming">programming</a></div>
        <div class="navLinkDiv"><a href="/art">art</a></div>
        <div class="navLinkDiv"><a href="/contact">contact</a></div>
    </nav>

 </div>    --}}

 <div id="top-menu">
    <nav id="nav-flex">
        <div class="navLinkDiv"><h2 id="mikeSantryHead"><a href="/">Mike Santry</a></h2></div>
        <div class="navLinkDiv">
            {{#if about}}
            <a href="/about" class="navLink"><b>about</b></a>
            {{else}}
            <a href="/about" class="navLink">about</a>
            {{/if}}
        </div>
        <div class="navLinkDiv">
            {{#if programming}}
            <a href="/programming" class="navLink"><b>programming</b></a>
            {{else}}
            <a href="/programming" class="navLink">programming</a>
            {{/if}}
            
        </div>
        <div class="navLinkDiv">
            {{#if art}}
            <a href="/art" class="navLink"><b>art</b></a>
            {{else}}
            <a href="/art" class="navLink">art</a>
            {{/if}}
        </div>
        <div class="navLinkDiv">
            {{#if contact}}
            <a href="/contact" class="navLink"><b>contact</b></a>
            {{else}}
            <a href="/contact" class="navLink">contact</a>
            {{/if}}
        </div>
    </nav>

 </div>  



</header>
